# The preset for the network configuration.
# Needed for `NetworkConfig` inside Helix

PRESET_BASE: {{ .preset }}
CONFIG_NAME: "mainnet"
TERMINAL_TOTAL_DIFFICULTY: 0
TERMINAL_BLOCK_HASH: "0x0000000000000000000000000000000000000000000000000000000000000000"
TERMINAL_BLOCK_HASH_ACTIVATION_EPOCH: 18446744073709551615
MIN_GENESIS_ACTIVE_VALIDATOR_COUNT: 2
MIN_GENESIS_TIME: 1727185220
GENESIS_FORK_VERSION: "0x10000038"
GENESIS_DELAY: 20
ALTAIR_FORK_VERSION: "0x20000038"
ALTAIR_FORK_EPOCH: 0
BELLATRIX_FORK_VERSION: "0x30000038"
BELLATRIX_FORK_EPOCH: 0
CAPELLA_FORK_VERSION: "0x40000038"
CAPELLA_FORK_EPOCH: 0
DENEB_FORK_VERSION: "0x50000038"
DENEB_FORK_EPOCH: 0
SECONDS_PER_SLOT: {{ .seconds_per_slot }}
SECONDS_PER_ETH1_BLOCK: {{ .seconds_per_slot }}
MIN_VALIDATOR_WITHDRAWABILITY_DELAY: {{ .min_validator_withdrawability_delay }}
SHARD_COMMITTEE_PERIOD: {{ .shard_committee_period }}
ETH1_FOLLOW_DISTANCE: {{ .eth1_follow_distance }}
INACTIVITY_SCORE_BIAS: 4
INACTIVITY_SCORE_RECOVERY_RATE: 16
EJECTION_BALANCE: {{ .ejection_balance }}
MIN_PER_EPOCH_CHURN_LIMIT: 4
MAX_PER_EPOCH_ACTIVATION_CHURN_LIMIT: {{ .max_churn }}
CHURN_LIMIT_QUOTIENT: 65536
PROPOSER_SCORE_BOOST: 40
DEPOSIT_CHAIN_ID: {{ .network_id }}
DEPOSIT_NETWORK_ID: {{ .network_id }}
DEPOSIT_CONTRACT_ADDRESS: {{ .deposit_contract_address }}
